$verde:#18bc9c
$azul:#2c3e50
$font:Montserrat

* 
	font: $font
	margin: auto
	display: block
	
.row
	margin: 0
	padding: 0
h2
	text-transform: uppercase
	text-align: center
hr
	text-align: center
	height: 3px
	margin: auto !important
	display: block
	width: 30px
	margin: 5px

.fa-start
	margin: auto !important
	display: block

.nav-wrapper
	background-color: $azul
	
.cabecera
	width: 100%
	height: 500px
	background-color: $verde
	text-align: center
	color: white
	padding: 50px

.cabecera
	hr
		background-color: white
		border: 0

.cabecera
	i
		padding-left: 20px
		padding-right: 20px

.portafolio
	hr
		background-color: $azul

.portafolio
	margin: auto
	display: block

.portafolio
	img
		margin-top: 20px
		width: 100%
.about
	background-color: $verde
	padding: 100px
	
.about
	color: white
.about
	i
		border: 0
		text-align: center
.about
	.btn
		border: 2px
		color: white
		background-color: $verde
		margin-top: 25px
.contacto
	padding: 100px
	color: $azul



